*.db
*.log
.storage
.cloud
deps
.directory
.uuid
.HA_VERSION
__pycache__
.vscode
secrets.yaml
secrets
known_devices.yaml
tmp
.google_maps_location_sharing.*
.storage
.cloud
.google.token
tts/*.mp3
known_devices.yaml
