homeassistant:
  name: Cottage61
  unit_system: metric
  time_zone:   Europe/Moscow
  latitude:  !secret homeassistant_latitude
  longitude: !secret homeassistant_longitude
  elevation: !secret homeassistant_elevation
  packages:       !include_dir_named packages
  allowlist_external_dirs: 
    - /tmp

system_health:

frontend:

config:

mobile_app:


# Discover some devices automatically
#discovery:
#Zeroconf/Avahi/Bonjour
#zeroconf:
       
map:

sun:

#MQTT
mqtt:
  broker:    !secret mqtt_address
  port:      !secret mqtt_port
  client_id: !secret mqtt_clientid
  username:  !secret mqtt_username
  password:  !secret mqtt_password
  keepalive: 30
  birth_message:
    topic: 'hass/LWT'
    payload: 'Online'
  will_message:
    topic: 'hass/LWT'
    payload: 'Offline'


device_tracker: !include_dir_merge_list device_tracker
script:         !include_dir_merge_named script
automation:     !include_dir_merge_list automation
#sensor:         !include_dir_merge_list sensor
#switch:         !include_dir_merge_list switch
#group:          !include group.yaml
#shell_command:  !include_dir_merge_named shell_command
#binary_sensor:  !include_dir_merge_list binary_sensor
#input_boolean:  !include_dir_merge_named input_boolean
#android_ip_webcam: !include camera/android_ip_webcam.yaml
#scene:          !include_dir_merge_list scene
zone:           !include zone.yaml 
logger:         !include logger.yaml


tts:
  - platform: google_translate
    language: 'en'
  # - platform: rhvoice
  #   voice: anna
  #   url: http://192.168.2.144:8081/say   

#media_player:
#  - platform: snapcast
#    host: snapserver

panel_iframe:
  # chronograf:
  #   title: Chronograf
  #   icon: mdi:chart-histogram
  #   url: http://192.168.2.144:8888/sources/1/dashboards/1?lower=now%28%29%20-%207d
  portainer:
    title: Portainer
    icon: mdi:docker
    url: http://192.168.2.144:9000/#/containers
  esphome:
    title: ESPHome
    icon: mdi:factory
    url: http://192.168.2.144:6052
  

history:
  include:
    domains:
      - switch    
    entities:
      - sensor.ups_status
    entity_globs:
      - sensor.temp_*
      - sensor.*_temperature
      
  exclude:
    entity_globs:
      - switch.*_timers    

recorder:
  purge_keep_days: 20

logbook:
  include:
    domains:
      - automation
      - sun